* {
	font-family: "Arial",sans-serif;
}

.logo {
	display: flex;
	justify-content: center;
	margin: 15% 0 0 0;
}

.logo-subtext {
	position: absolute;
	margin: 75px 0 0 110px;
	color: #2f7fa0;
}

.header {
	margin: 0 0 0 1000px;
	display: inline-block;
}

.gmail-link {
	text-align: left;
	margin: 0 5px;
}

.images-link {
	text-align: center;
	margin: 0 5px;
}

.app-button {
	text-align: left;
	margin: 0 5px;
}

.notification-button {
	text-align: left;
	margin: 0 0 0 5px;
}

.search-box {
	position: absolute;
	margin: 110px 0 0 0;
}

input {
	width: 500px;
	height: 35px;
	box-shadow: 1px 1px 5px rgba(128, 128, 128, 0.54);
	border: none;
}

.buttons {
	position: absolute;
	margin: 180px 0 0 0;
}

button {
	border: none;
	background-color: #efefef;
	font-weight: bold;
	color: #898989;
	height: 35px;
	width: 130px;
	margin: 0 5px 0 5px;
}

p {
	position: absolute;
	font-size: 13px;
	margin: 250px 0 0 0;
}

.footer {
	float: left;
}